/* line 3, ../src/sass/_base.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  position: fixed;
}

/* line 13, ../src/sass/_base.scss */
* {
  box-sizing: border-box;
}

/* line 17, ../src/sass/_base.scss */
.hidden {
  display: none;
}

/* line 21, ../src/sass/_base.scss */
.centered-table {
  display: table;
  width: 100%;
  height: 100%;
}

/* line 27, ../src/sass/_base.scss */
.content-table {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* line 35, ../src/sass/_base.scss */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 300;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-align: center;
}

/* line 48, ../src/sass/_base.scss */
.navigation h2.player-title {
  font-size: 30px;
  line-height: 75px;
  position: fixed;
  width: 100%;
  height: 75px;
}

/* line 56, ../src/sass/_base.scss */
.navigation .nav-btn {
  width: 75px;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 10;
}

/* line 65, ../src/sass/_base.scss */
.navigation .nav-icon:focus,
.navigation .nav-icon:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 69, ../src/sass/_base.scss */
.navigation .right-btn {
  right: 0;
}

/* line 73, ../src/sass/_base.scss */
.navigation .left-btn {
  left: 0;
}

/* line 77, ../src/sass/_base.scss */
.nav-icon {
  cursor: pointer;
  margin: 10px;
  height: 55px;
  width: 55px;
  padding-top: 3px;
  border-radius: 50%;
  color: #fff;
  border: 3px solid #fff;
  font-size: 35px;
  line-height: 55px;
  text-align: center;
}

/* line 95, ../src/sass/_base.scss */
.view {
  padding-top: 75px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: top;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

/* line 108, ../src/sass/_base.scss */
#playlist-view {
  background-color: #000;
  z-index: 50;
  padding-top: 0;
}

/* line 114, ../src/sass/_base.scss */
#player-view {
  background-color: black;
}

/* line 118, ../src/sass/_base.scss */
.pos-focus {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 122, ../src/sass/_base.scss */
.pos-left {
  -webkit-transform: translate3d(-100%, 0, 0);
}

/* line 126, ../src/sass/_base.scss */
.pos-right {
  -webkit-transform: translate3d(100%, 0, 0);
}

/* line 134, ../src/sass/_base.scss */
.player-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 200;
}

/* line 140, ../src/sass/_base.scss */
.controls {
  width: 100%;
  height: 20%;
}

/* line 145, ../src/sass/_base.scss */
.audio-info {
  width: 100%;
  height: 60%;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 50px;
  color: #fff;
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

/* line 157, ../src/sass/_base.scss */
.audio-info h2 {
  font-size: 72px;
  margin-bottom: 20px;
}

/* line 162, ../src/sass/_base.scss */
.audio-info h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* line 167, ../src/sass/_base.scss */
.audio-info h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

/* line 172, ../src/sass/_base.scss */
.progress-bar {
  height: 20%;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* line 180, ../src/sass/_base.scss */
.waveform {
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 300;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 80%;
}

/* line 193, ../src/sass/_base.scss */
.controls {
  overflow: hidden;
  font-size: 100px;
  color: #fff;
  text-align: center;
}

/* line 200, ../src/sass/_base.scss */
#progress {
  position: absolute;
  top: 0;
  left: 0;
  background-color: magenta;
  height: 100%;
  display: block;
}

/* line 209, ../src/sass/_base.scss */
#seek {
  position: absolute;
  top: 0;
  left: 0;
  background-color: cyan;
  height: 100%;
  width: 0;
  display: block;
}

/* line 219, ../src/sass/_base.scss */
.progress-preview {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
}

/* line 228, ../src/sass/_base.scss */
.prev, .next {
  width: 25%;
  height: 100%;
  border-right: 1px solid #fff;
}

/* line 234, ../src/sass/_base.scss */
.play-pause {
  border-right: 1px solid #fff;
}

/* line 238, ../src/sass/_base.scss */
.play-pause, .download {
  width: 25%;
  height: 100%;
}

/* line 243, ../src/sass/_base.scss */
input {
  margin: 40px;
}

/* line 247, ../src/sass/_base.scss */
.controls a {
  color: #fff;
}

/* line 251, ../src/sass/_base.scss */
.controls .control-btn {
  cursor: pointer;
  position: relative;
  float: left;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 259, ../src/sass/_base.scss */
.controls .control-btn:focus,
.controls .control-btn:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

/* line 263, ../src/sass/_base.scss */
.prev-icon, .next-icon, .play-icon, .pause-icon, .download-icon {
  margin-top: -50px;
  top: 50%;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

/* line 272, ../src/sass/_base.scss */
.album-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 280, ../src/sass/_base.scss */
.album-cover img {
  width: 100%;
}

/* line 290, ../src/sass/_base.scss */
ul.playlist {
  list-syle: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 297, ../src/sass/_base.scss */
ul.playlist li {
  cursor: pointer;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  display: block;
  padding: 10px;
  margin: 0;
  position: relative;
  padding: 0 100px;
}

/* line 310, ../src/sass/_base.scss */
ul li.playlist-buffer {
  width: 100%;
  height: 75px;
  background-color: transparent;
  border: none;
}

/* line 317, ../src/sass/_base.scss */
ul.playlist li .thumbnail {
  background-color: #000;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 332, ../src/sass/_base.scss */
ul.playlist li .song-meta {
  height: 80px;
  margin: 10px 0;
  float: left;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/* line 341, ../src/sass/_base.scss */
ul.playlist li .song-meta h2.song-title {
  font-size: 32px;
  margin: 0 0 10px 0;
  padding: 0;
  height: 40px;
  line-height: 40px;
}

/* line 349, ../src/sass/_base.scss */
ul.playlist li .song-meta h4.song-info {
  margin: 0;
  padding: 0;
  font-size: 18px;
  overflow-x: scroll;
}

/* line 356, ../src/sass/_base.scss */
ul.playlist li .song-meta h4.song-info span.song-artist {
  color: #ccc;
}

/* line 360, ../src/sass/_base.scss */
ul.playlist li .action {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 368, ../src/sass/_base.scss */
.action-icon, .playing-icon {
  font-size: 40px;
  line-height: 90px;
  text-align: center;
}

/* line 375, ../src/sass/_base.scss */
.audio-info ul.song-tracks li {
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 640px) {
  /* line 383, ../src/sass/_base.scss */
  .controls {
    font-size: 50px;
  }

  /* line 387, ../src/sass/_base.scss */
  .audio-info {
    padding: 20px;
  }

  /* line 391, ../src/sass/_base.scss */
  .prev-icon, .next-icon, .play-icon, .pause-icon, .download-icon {
    margin-top: -25px;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -25px;
  }

  /* line 399, ../src/sass/_base.scss */
  .audio-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  /* line 404, ../src/sass/_base.scss */
  .audio-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  /* line 409, ../src/sass/_base.scss */
  .audio-info h4 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  /* line 414, ../src/sass/_base.scss */
  ul.playlist li .song-meta h2.song-title {
    font-size: 18px;
    margin: 0 0 10px 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
  }

  /* line 422, ../src/sass/_base.scss */
  ul.playlist li .song-meta h4.song-info {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

  /* line 429, ../src/sass/_base.scss */
  .progress-bar {
    height: 21%;
  }
}
